.matchItem {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  box-sizing: border-box;
  .itemPart {
    max-width: 30%;
    box-sizing: border-box!important;
    padding: 0 10px;
  }
}
