.commentItem {
  border-bottom: 1px solid #F2F2F2;
  padding: 20px;
  .title {
    font-size:28px ;
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .content {
    font-size: 24px;
    color: #9EA7B4;
  }
}
