.box{
  text-align: center;
  .iconfont{
    width: 30px;
    margin: 20px auto;
  }
  .btn{
    width:690px;
    height:80px;
    line-height: 80px;
    background:linear-gradient(90deg,rgba(63,143,253,1),rgba(62,173,254,1));
    border-radius:8px;
    font-size: 28px;
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
  }
}
