.menuList {
  width: 710px;
  height: 170px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin: -85px auto 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  .menuItem {
    width: 25%;
    padding: 36px;
    box-sizing: border-box;
    .icon {
      text-align: center;
      .img {
        display: inline-block;
        width: 44px;
        height: 44px;
      }
    }
    .text {
      font-size: 24px;
      color: #657180;
      text-align: center;
    }
  }
}
